# Data Science Tools and Ecosystem

## Author:
Carol

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages that Data Scientists use.
- List commonly used libraries used by Data Scientists.
- Comment on Data Science tools.

Some of the popular languages that Data Scientists use are:
1. python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. NumPy
3. Matpotlib

| Data Science Tools | 
| --- |
| TensorFlow | 
| Visual Studio Code| 
| Git |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335